/.github export-ignore
/tests export-ignore
.gitattributes export-ignore
.gitignore export-ignore
ACKNOWLEDGEMENTS.md export-ignore
ci.sh export-ignore
Dockerfile export-ignore
Makefile export-ignore
Rakefile export-ignore
phpunit.xml.dist export-ignore
